<div class="row border-top py-3 px-3">
  <div class="col-sm-2 gx-0 text-end">
    <%# https://xsgames.co/randomusers/ %>
    <% if (monster.image.count>0) %>
    <%= image_tag monster.image.last, class: "img-thumbnail rounded-circle", style: "max-width: 48px" %>
    <% else %>
    <%= image_tag "https://xsgames.co/randomusers/avatar.php?g=pixel&id=#{SecureRandom.uuid}", class: "img-thumbnail rounded-circle", style: "max-width: 48px" %>
    <%end%>
  </div>

  <div class="col-sm-10">
    <p class="mb-0">
      <%= link_to monster, class: "text-dark text-decoration-none" do %>
        <span class="fw-bold">
          <%= monster.name %>
        </span>

        <span class="text-secondary">
          <%# This is to simulate a twitter handle %>
          @<%= monster.name.underscore %>
        </span>
      <% end %>
      ·
      <span class="text-secondary">
        <%# https://guides.rubyonrails.org/action_view_helpers.html#time-ago-in-words %>

      </span>
    </p>

    <%= link_to monster, class: "text-dark text-decoration-none" do %>
      <p class="mb-0"><%= monster.description %></p>
    <% end %>
  </div>
</div>
