<h2 class="py-2 mb-0">Nuevo monster</h2>

<%= form_with model: @elNuevo do |fa| %>
<%= fa.search_field  :name, placeholder: "nombre", size:"30x1" %> <br>
<%= fa.text_area :description, placeholder: "Descripcion" %><br>
<% if @elNuevo.errors.messages[:phone].present? %>
   <p> <%= @elNuevo.errors.messages[:phone] %> </p>
   <%end%>
<%= fa.telephone_field :phone, placeholder: "telefono"%><br>
<%= fa.datetime_local_field  :birthdate, placeholder: "fecha de nacimiento"%><br>
<%= fa.file_field :image, multiple: false%><br>
<%= fa.submit "crear" %>
<%end%>
