<h2 class="py-2 mb-0">Tweet</h2>

<%= render @tweet %>

<!-- Muestra un mapa con la ubicacion de donde se hizo el tweet --!>
<% if @tweet.location_point != nil %>

  <div id="map" style="height: 400px"></div>
  <script>
    new Mapkick.Map("map", [
    {
      latitude: <%= @tweet.location_point.x %>,
      longitude: <%= @tweet.location_point.y %>,
      tooltip: '<%= @tweet.content %>'
    }
    ]);
  </script>
<%end%>


<%= link_to "Imprimir", "#", class: "btn d-print-none", onclick: "window.print()"%>
